<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<%= form_tag("/newsletter/subscribe", method: "post") do %>
  <%= label_tag(:email, "Email address:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Submit") %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h2><%= article.title %></h2>
      <p>
        <%= markdown(article.body).html_safe %>
      </p>
    </li>
  <% end %>
</ul>
